# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
*.apk
*.aab
*.ipa

# Capacitor / Android
android/
ios/
resources/
.tools/

# Secrets
.env
.env.local

# IDE / OS
.idea/
.vscode/
.DS_Store
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
